*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(255, 149, 0);
    position: fixed;
    z-index: 1;
   width: 100%;
}

main{
    padding-top: 75px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3);   
}

.contenuto{
    margin: 10px;
    color: white;    
}

.list-unstyled{
    list-style-type: none;
    padding: 10px;
}

.list-unstyled li{
    display: inline-block;
    padding: 0px 15px;
}

.list-unstyled li a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.contenuto-centrale{
    margin: 10px;
    position: relative;
    
}

.contenuto img{
    width: 150px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.contenuto i{
    margin: 0px 5px;
    padding-top: 10px;
}
.immagini{
    position: relative;
}
.immagini img{
    width: 100%;
}
.immagine-visibile{
    display: block;
}
.immagine-nascosta{
    display: none;
}
.nome-brand{
    font-size: 17px;
    font-weight: 300;
}
.nome-articolo{
    text-transform: uppercase;
}
.testo-rosso{
    color: red;
    margin-right: 6px;
}
.testo-cancellato{
    text-decoration: line-through;
}
.etichetta{
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    display: inline-block;
    left: 0;
    bottom: 20px;
}
.etichetta-rossa{
    background-color: red;
    margin-right: 5px;
}
.etichetta-verde{
    background-color: green;
}
.cuore{
    padding: 5px;
    background-color: white;
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 0;
}
.immagini-etichetta{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 30px;
}